{% extends "learning_logs/base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg text-center" style="width: 400px; height: 400px;">
    <div class="card-header bg-info text-white">
        <strong>Topics</strong>
    </div>
    <div class="card-body d-flex flex-column justify-content-center">
        <h5 class="card-title mb-4">Add a new topic</h5>
        <form action="{% url 'learning_logs:new_topic' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-success mt-3" name="submit">Add Topic</button>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
